body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(12, 167, 12);

    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    display:block;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.imagem {
    width: 250px;
    margin-bottom: 30px;
}

a {
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(1, 53, 12);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    background-color: rgb(7, 90, 44);
}
